.hide {
    display: none;
}

body {
    background-color: darkcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: ghostwhite;
}

.welcome {
    flex-wrap: wrap;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    border border-radius: 10px;
    color: ghostwhite;
    background-color: rgb(11, 75, 83);
    margin-bottom: 40px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 10px;

}

.starter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 50%;
}

.starter button {
    background-color: #179e76;
    border-radius: 8px;
    padding: 12px 28px;
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    justify-content: center;

}

.startBtn:hover {
    color: rgb(16, 51, 35);
    scale: 120%;
    background-color: #16916c;
    
}

.AnswerButtons {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    flex-direction: row;
    background-color: rgb(27, 90, 90);
    padding: 10px;
    margin-right: 100px;
    margin-left: 100px;
}

.AnswerButtons button {
    background-color: #dddfde;
    border-radius: 8px;
    padding: 12px 28px;
    font-size: 20px;
    color: rgb(27, 90, 90);
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    left: 50%;
}

.timer {
    justify-content: center;
    flex-wrap: wrap;
    font-size: 36px;
    text-align: center;
    padding: 20px;
}

.score {
    justify-content: center;
    flex-wrap: wrap;
    font-size: 36px;
    text-align: center;
    padding: 20px;
}
.questionField {
    justify-content: center;
    flex-wrap: wrap;
    border: slategrey;
    border-radius: 5px;
    background-color: rgb(17, 63, 63);
    font-size: 24px;
    text-align: center;
    padding: 20px;
    margin-right: 100px;
    margin-left: 100px;
}

.leaderboard {
    font-size: 24px;
    justify-content: center;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    background-color: rgb(27, 90, 90);
    margin-right: 100px;
    margin-left: 100px;
}

.submit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 50%;
    padding-top: 20px;
}

.submit button {
    background-color: #2a2c2b;
    border-radius: 8px;
    padding: 12px 28px;
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    left: 50%;
}

#submitBtn:hover{
    color: rgb(236, 236, 236);
    scale: 120%;
    background-color: #585858;
    font-size: 120%;

}

.leaderboard li {
    list-style-type: none;
}